<template name="BuyerMainLayout">
	<header>
		<h1>Welcome to <a href="https://imgur.com/Hfcw05A"><img src="https://i.imgur.com/Hfcw05A.png" title="source: imgur.com" style="width:70px;height:70px;"/></a></h1>
	</header>
	<main>
    {{> BuyerNavBar}}
    {{> loginButtons align="right"}}
		{{> Template.dynamic template=main}}
	</main>
	<body>
		
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '198565487503869',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	</body>
</template>

<template name="Displaybuyerhalalsnacks">
<br><br>
  {{> buyerhalalsnacks}}
</template>

<template name="Displaybuyervegansnacks">
<br><br>
  {{> buyervegansnacks}}
</template>

<template name="Displaybuyervegetariansnacks">
<br><br>
  {{> buyervegetariansnacks}}
</template>